{include file="./header"  title="插件设计" /}
<div class="container-fluid">
<form action="" method="post" enctype="multipart/form-data">
    <table class="table table-hover">
  <thead>
  <tr>
    <td>名称</td>
    <td>编辑</td>
    <td>说明</td>
  </tr>
  </thead>
  
  
  <tr class="form-group"> 
    <td><label for="name">插件名称(name)</label></td>
    <td><input name="name" type="text" class="form-control" id="name" /></td>
    <td>插件名称</td>
  </tr>
  
  <tr class="form-group">
    <td><label for="copyright">版权信息(copyright)</label></td>
    <td><input name="copyright" type="text" class="form-control" id="copyright" /></td>
    <td>版权信息</td>
  </tr>
  
  <tr class="form-group">
    <td><label for="version">插件版本(version)</label></td>
    <td><input name="version" type="text" class="form-control" id="version" /></td>
    <td>插件版本</td>
  </tr>
  
  <tr class="form-group">
    <td><label for="identifier">唯一标识(identifier)</label></td>
    <td><input name="identifier" type="text" class="form-control" id="identifier" /></td>
    <td>唯一标识只能为英文和数字</td>
  </tr>
  
  <tr class="form-group">
    <td><label for="directory">插件目录(directory)</label></td>
    <td><input name="directory" type="text" class="form-control" id="directory" /></td>
    
    <td>插件目录只能为英文和数字</td>
  </tr>
  
  <tr class="form-group">
    <td><label for="description">插件描述(description)</label></td>
    <td><textarea name="description" rows="3" class="form-control" id="value"></textarea></td>
    <td>插件描述</td>
  </tr>
  
  <!--
  <tr class="form-group">
    <td><label for="status">状态</label></td>
    <td>
        <input name="status" type="radio" value="1" >开启
        <input name="status" type="radio" value="0" checked="checked" >关闭
    </td>
    <td>&nbsp;</td>
  </tr>
  -->
  
  <tr class="form-group">
    <td>
    <input type="submit" class="btn btn-primary" id="button" value="提交" />
    <button type="button" onClick="javascript:history.back(-1);" class="btn btn-primary">返回</button>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
    </form>
</div>
{include file="./footer" /}
