.idea
composer.lock
*.log
/runtime/
/addons/
/public/install.lock
/update.txt
/app/*
!/app/addon/
!/app/admin/
!/app/common/
!/app/extra/
!/app/install/
!/app/member/
!/app/portal/
!/app/update/
!/app/*.php
/template/*
!/template/default/