<include file="default/Common/header" title="{$sql.uname}的个人空间_" keywords="" description="" />
<!-- /header -->
<div class="articlelist w960 center clear mt1">
 <div class="pleft">
  <div class="place"> <strong>当前位置:</strong> {$sql.uname}的个人空间</div>
  <!-- /place -->
  <div class="listbox">
   <ul class="e2">
	
    <!--
    <li><a href='{$luoe.url}' class='preview'><img src='{$luoe.litpic|default="/Public/images/noimg.jpg"}'/></a>
     [<b>{$type.name}</b>] <a href="{$luoe.url}" class="title">{$luoe.title}</a> <span class="info"> <small>日期：</small>：{$luoe.create_time|date='Y-m-d',###}<small>点击：</small>{$luoe.click} <small>好评：</small>&nbsp; </span>
     <p class="intro"> {$luoe.description}... </p>
    </li>
    -->
    <li>ID：{$sql.uid}</li>
    <li>email：{$sql.email}</li>
    <li>用户名：{$sql.name}</li>
    <li>用户组：{$sql.group}</li>
    <li>真实姓名：{$sql.uname}</li>
    <li>真实姓名：{$sql.uname}</li>
    <li>真实姓名：{$sql.uname}</li>
    <li>登录时间：{$sql.update_time|date="Y-m-d H:i:s",###}</li>
    <li>当前IP:{$sql.update_ip}</li>
    <foreach name="profile" item="val">
    <li>{$val.title}:{$sql.$profile.fieldid}</li>
    </foreach>
    
    
   </ul>
  </div>
  <!-- /listbox -->
  <!--
  <div class="dede_pages">
   <ul class="pagelist">
    目录
   </ul>
  </div>
  -->
  <!-- /pages -->
 </div>
 <!-- /pleft -->
 	<include file="./default/Portal/pright" />
 <!-- /pright -->
</div>
<include file="default/common/footer" />

</body>
</html>
