{include file="common/header" title="用户登录_ " keywords="" description="" /}
<!-- /header -->
<div class="login container-fluid">
 <div class="panel panel-default">
  <ol class="breadcrumb panel-heading">
   <li>当前位置:</li>
   <li>用户登陆</li>
  </ol>
  
  <div class="panel-body">
   <form action="" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="username">帐号</label>
			<input name="username" type="text" class="form-control" id="username" placeholder="用户名/邮箱/手机号">
		</div>
        <div class="form-group">
			<label for="password">密码</label>
			<input name="password" type="password" class="form-control" id="password" placeholder="密码">
		</div>
        <input type="submit" class="btn btn-default" value="登录">
    </form>
  </div>
  
 </div>

{include file="common/footer" /}
