{include file="common/header" title="用户登录_ " keywords="" description="" /}
<!-- /header -->
<div class="articlelist w960 center clear mt1">
 <div class="pleft">
  <div class="place"> <strong>当前位置:</strong> 用户登陆</div>
  <!-- /place -->
  <div class="listbox">
   <ul class="e2">
	 
	<form action="" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="exampleInputEmail1">Email</label>
			<input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>
        <div class="form-group">
			<label for="exampleInputEmail1">密码</label>
			<input name="pword" type="password" class="form-control" id="exampleInputEmail1" placeholder="密码">
		</div>
        <input name="button" type="submit" class="btn btn-default" value="登录" id="button">
    </form>
   </ul>
  </div>
  <!-- /listbox -->
  <!--
  <div class="dede_pages">
   <ul class="pagelist">
    目录
   </ul>
  </div>
  -->
  <!-- /pages -->
 </div>
 <!-- /pleft -->
 	<include file="./default/Portal/pright" />
 <!-- /pright -->
</div>
{include file="common/footer" /}

</body>
</html>
