<include file="default/Common/header" title="{$luoe.title}_" keywords="" description="{$luoe.description}_" />
<!-- /header -->
<div class="articleview w960 center clear mt1">
<div class="pleft">
 <div class="place"> <strong>当前位置:</strong> {$luoe.menu.name}
 <span class="post" style="float:right; margin-right:10px;">
 <a href="{:U('post/edit?aid='.$luoe['aid'])}">编辑</a> 
 <a href="{:U('post/del?aid='.$luoe['aid'])}">删除</a> 
 </span>
 </div>
 <!-- /place -->
 <div class="viewbox">
  <div class="title">
   <h2>{$luoe.title}</h2>
  </div>
  <!-- /title -->
  <div class="info">
  <small>时间:</small>{$luoe.create_time|date="Y-m-d",###}
  <small>作者:</small>{$luoe.uname}
  <small>点击:</small>{$luoe.click}次
  </div>
  <!-- /info -->
  <!--
  {$luoe.description}
  -->
  <div class="content">
   <table id='abc'>
	<foreach name="luoe.mod" item="val">
    <tr>
		<td>{$val.name} : {$val.value}</td>
    </tr>
	</foreach>
    
    <tr>
     <td class="zhengwen">
<!--
<div id="contentMidPicAD" style="float:right; clear:both; top:0; vertical-align:top;">
{dede:myad name='300x300'/}</div>
-->
		
      {$luoe.content}
   </td>
    </tr>
   
   </table>
  </div>
  <!-- /content -->
  <!-- /pages -->
    <!-- //顶踩 -->
  <div class="newdigg" id="newdigg">
   <div class="diggbox digg_good" onmousemove="this.style.backgroundPosition='left bottom';" onmouseout="this.style.backgroundPosition='left top';" onclick="javascript:postDigg('like',{$luoe.aid})">
    <div class="digg_act">顶一下</div>
    <div class="digg_num">({$luoe.likes})</div>
    <div class="digg_percent">
     <div class="digg_percent_bar"><span style="width:{dede:field.goodper/}%"></span></div>
     <div class="digg_percent_num">{$luoe[likes]/($luoe[ulikes]+$luoe[likes])*100|round}%</div>
    </div>
   </div>
   <div class="diggbox digg_bad" onmousemove="this.style.backgroundPosition='right bottom';" onmouseout="this.style.backgroundPosition='right top';" onclick="javascript:postDigg('ulike',{$luoe.aid})">
    <div class="digg_act">踩一下</div>
    <div class="digg_num">({$luoe.ulikes})</div>
    <div class="digg_percent">
     <div class="digg_percent_bar"><span style="width:{dede:field.badper/}%"></span></div>
     <div class="digg_percent_num">{$luoe[ulikes]/($luoe[ulikes]+$luoe[likes])*100|round}%</div>
    </div>
   </div>
  </div>
  <!-- //顶踩部份的源码结束 -->
  <!-- //分享代码开始 -->
  	
  <!-- //分享代码结束 -->
  <div class="boxoff"> <strong>------分隔线----------------------------</strong> </div>
  <div class="handle">
   <div class="context">
    <ul>
     <li>上一篇：<a href="{$after.url}">{$after.title|default="没有了"}</a>
	</li>
     <li>下一篇：<a href="{$next.url}">{$next.title|default="没有了"}</a>
    </ul>
   </div>
   <!-- /context -->
   <div class="actbox">
    <ul>
     <li id="act-fav"><a href="{dede:field name='phpurl'/}/stow.php?aid={dede:field.id/}" target="_blank">收藏</a></li>
     <li id="act-err"><a href="{dede:field name='phpurl'/}/erraddsave.php?aid={dede:field.id/}&title={dede:field.title/}" target="_blank">挑错</a></li>
     <li id="act-pus"><a href="{dede:field name='phpurl'/}/recommend.php?aid={dede:field.id/}" target="_blank">推荐</a></li>
     <li id="act-pnt"><a href="#" onClick="window.print();">打印</a></li>
    </ul>
   </div>
  </div>
  <!-- /handle -->
 </div>
 <!-- /viewbox -->
</div>
<!-- //左边内容结束 -->

<!-- //右边内容开始 -->
	<include file="default/Portal/pright" />
<!-- /pright -->
</div>


<script language="javascript" type="text/javascript">
/*
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("{dede:global.cfg_cmsurl/}/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("{dede:field name='phpurl'/}/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
*/
//喜欢
function postDigg(ftype,aid){
	if(ftype == "like"){
		var url= "{:U('Article/like?aid='.$luoe[aid])}";
	}else{
		var url= "{:U('Article/ulike?aid='.$luoe[aid])}";
	}
	$.get(url,function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		if(data == 1){
			alert("点击成功");
		}else{
			alert("请不要重复点击!");	
		}
		
	});
}

</script>


<include file="default/Common/footer" />
</body>
</html>
