{include file="common/header" title="$sql['title']" keywords="" description="$bb.description" /}
<!-- /header -->
<div class="article">
  <div class="col-md-3"></div>
  <div class="col-md-9">
  	<div class="panel panel-default">
  	  <ol class="breadcrumb panel-heading">
      	<li><a href="{:url('/')}">首页</a></li>
      	<li><a href="{:url('/tid/'.$_G.article.tid)}">{$_G.menu.name}</a></li>
      	<div class="pull-right"><a href="{:url('@portal/post/edit?aid='.$_G.article.aid)}">编辑</a></div>
      </ol>
  	
  	  <article class="panel-body">
    	<div class="jdt" style="width:auto;">
          <ul class="hd list-unstyled">
            {foreach name="$_G.article.thumb" item="val"}
              <li>{$key+1}</li>
            {/foreach}
            
          </ul>
          <ul class="bd list-unstyled">
            {foreach name="$_G.article.thumb" item="val"}
            <li><img src="{$val}" style="height:300px; width:auto;" class="img-responsive"></li>
            {/foreach}
          </ul>
        </div>
        
        <h2 class="text-center">{$_G.article.title}</h2>
        <section class="content">{$_G.article.addonarticle.content|htmlspecialchars_decode}</section>
      </article>
    </div>
  </div>

</div>


<script>

$(function(){
	jQuery(".jdt").slide({mainCell:".bd",autoPlay:true});
});

</script>
{include file="common/footer" /}