{include file="common/header" title='首页' keywords='' description=''}
    


    <div class="index_content container-fluid">
      <div class="t1 row">
    	<div class="jdt col-md-4" style="height:300px;">
          <ul class="hd list-unstyled">
				<li>1</li><li>2</li><li>3</li>
		  </ul>
		  <ul class="bd list-unstyled">
       		<li><a href="http://www.SuperSlide2.com" target="_blank">
                <img src="../images/temp.jpg" class="img-responsive">
            </a></li>
            <li><a href="http://www.SuperSlide2.com" target="_blank">
                <img src="../images/temp.jpg" class="img-responsive">
            </a></li>
            <li><a href="http://www.SuperSlide2.com" target="_blank">
                <img src="../images/temp.jpg" class="img-responsive">
            </a></li>
		  </ul>
        </div>
        
        <div class="col-md-5 panel panel-default">
        	<div class="panel-body">
            	<h3 class="text-center" style="margin:0px;"><a href="">湖北络易科技有限公司简介</a></h3>
                <p>湖北络易科技有限公司是一家集网络安防、互联网开发、网络运营、互联网服务于一体的网络科技公司。
公司是一家快速成长、锐意进取的年轻网络科技公司。主...[<a href="">详情</a>]</p>
				<ul class="list-unstyled">
                	<li><a href="">[企业公告]</a> <a href="#">湖北络易科技有限公司简介</a><time class="pull-right hidden-xs">2016-10-01 00:00:00</time></li>
                    <li><a href="">[企业公告]</a> <a href="#">湖北络易科技有限公司简介</a><time class="pull-right hidden-xs">2016-10-01 00:00:00</time></li>
                    <li><a href="">[企业公告]</a> <a href="#">湖北络易科技有限公司简介</a><time class="pull-right hidden-xs">2016-10-01 00:00:00</time></li>
                    <li><a href="">[企业公告]</a> <a href="#">湖北络易科技有限公司简介</a><time class="pull-right hidden-xs">2016-10-01 00:00:00</time></li>
                    
                </ul>
                <div class="page-header" style="margin:5px;">最近更新</div>
                <div class="row">
                  <ul class="list-unstyled">
                	<li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                  	<li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                    <li class="col-md-6"><a href="">湖北络易科技有限公司简介</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        
        </div>
      </div>
      <div class="t2 row">
      	{bb:menu row='99' item="m_list"}
      	<div class="col-md-4">
      	<dl class="panel panel-default">
          <dt class="panel-heading"><a href="">{$m_list.name}</a><span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i><a href="">更多</a></span></dt>
          <dd class="panel-body list-unstyled">
          	
            {bb:article tid='m_list.tid' row='8'}
            
            <li><time>{$bb.create_time|date="m-d",###}</time> <a href="{$bb.url}">{$bb.title}</a></li>
            {/bb:article}
            
          </dd>
        </dl>
        </div>
        {/bb:menu}
        
        
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">友情链接</div>
          <ul class="panel-body list-unstyled">
		  	<li><a href="" target="_blank">络易科技</a></li>
          </ul>
	  </div>
      
    </div>
    <!--内容结束-->
<script>
/*
$(function(){
	jQuery(".jdt").slide({mainCell:".bd ul",autoPlay:true});	
});
*/
jQuery(".jdt").slide({mainCell:".bd",autoPlay:true});


</script>
{include file="common/footer"}