{include file="common/header" title="$_G.menu.name" keywords="" description="" /}
<!-- /header -->
<div class="list container-fluid">
  <div class="left col-md-3">
  	<ul class="list-group">
      {eq name='$_G.menu.pid' value='0'}
	    {bb:menu pid='$_G.menu.tid'}
        <a href="{$bb.url}" class="list-group-item">{$bb.name}</a>
        {/bb:menu}
      {else/}
      	{bb:menu pid='$_G.menu.pid'}
        <a href="{$bb.url}" class="list-group-item">{$bb.name}</a>
        {/bb:menu}
      {/eq}
    </ul>
  </div>
  
  <div class="right col-md-9">
  <div class="panel panel-default">
    <ol class="breadcrumb panel-heading">
      <li><a href="{:url('/')}">首页</a></li>
      <li class="active">{$_G.menu.name}</li>
      <div class="pull-right"><a href="{:url('/add/'.$_G.menu.tid)}">发布</a></div>
    </ol>
    
    <ul class="panel-body ">
      {foreach name="_G.list" item="val"}
      <dl class="col-md-12">
        {notempty name="val.litpic"}
      	<div class="col-md-2">
          <a href="{:url('/aid/'.$val['aid'])}" style="height:120px;"><img data-original="{$val.litpic}" class="img-thumbnail" /></a>
        </div>
        {/notempty}
        <div>
      	  <dt><a href="{:url('/aid/'.$val['aid'])}">{$val.title}</a><time class="hidden-xs pull-right">{$val.create_time|date='Y-m-d H:i:s',###}</time></dt>
      	  <dd><a href="{:url('/aid/'.$val['aid'])}">{$val.description}</a></dd>
        </div>
      </dl>
      {/foreach}
      <div class="page col-md-12">{$_G.page}</div>
    </ul>
  </div>
  </div>
  

</div>


</div>
{include file="common/footer" /}
</body>
</html>