{include file="common/header" title="$_G.menu.name" keywords="" description="" /}
<!-- /header -->
<div class="list container-fluid">
  <div class="left col-md-3">
  	<ul class="list-group">
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    </ul>
  </div>
  
  <div class="right col-md-9">
  <div class="panel panel-default">
    <ol class="breadcrumb panel-heading">
      <li><a href="{:url('/')}">首页</a></li>
      <li class="active">Data</li>
    </ol>
    <ul class="panel-body list-unstyled">
      {foreach name="_G.list" item="val"}
      <a class="col-md-2" href="{:url('/aid/'.$val['aid'])}" style="height:120px;"><img src="{$val.litpic}" class="img-thumbnail" /></a>
      <dl class="col-md-10">
      	<dt><a href="{:url('/aid/'.$val['aid'])}">{$val.title}</a><time class="pull-right">{$val.create_time|date='Y-m-d H:i:s',###}</time></dt>
      	<dd><a href="{:url('/aid/'.$val['aid'])}">{$val.description}</a></dd>
      </dl>
      <hr class="col-md-12"/>
      {/foreach}
      <div class="page col-md-12">{$_G.page}</div>
    </ul>
  </div>
  </div>
  

</div>


</div>
{include file="common/footer" /}
</body>
</html>