{include file="common/header" title="$_G.menu.name" keywords="" description="" /}
<!-- /header -->
<div class="list container-fluid">
  <div class="left col-md-3">
  	<ul class="list-group">
     
    </ul>
  </div>
  
  <div class="right col-md-9">
  <div class="panel panel-default">
    <ol class="breadcrumb panel-heading">
      <li><a href="{:url('/')}">首页</a></li>
      <li class="active">搜索[{:input('search')}]</li>
    </ol>
    
    <ul class="panel-body ">
      {foreach name="_G.list" item="val"}
      <dl class="col-md-12">
        {notempty name="val.litpic"}
      	<div class="col-md-2">
          <a href="{:url('portal/article/index?aid='.$val['aid'])}" style="height:120px;"><img data-original="{$val.litpic}" class="img-thumbnail" /></a>
        </div>
        {/notempty}
        <div>
      	  <dt><a href="{:url('portal/article/index?aid='.$val['aid'])}">{$val.title}</a><time class="hidden-xs pull-right">{$val.create_time|date='Y-m-d H:i:s',###}</time></dt>
      	  <dd><a href="{:url('portal/article/index?aid='.$val['aid'])}">{$val.description}</a></dd>
        </div>
      </dl>
      {/foreach}
      <div class="page col-md-12">{$_G.page}</div>
    </ul>
  </div>
  </div>
  

</div>


</div>
{include file="common/footer" /}
</body>
</html>