{include file="common/header" title='$_G.title' keywords='' description='' /}
<style type="text/css">
.thumb>ul>li {
	position: relative;
}
.thumb>ul>li>img {
}
.thumb>ul>li>input {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.0;
}
</style>

<div class="container">
    <form id="add" method="post" enctype="multipart/form-data">
    <div class="form-group">
   	  <label for="title">标题</label>
      <input name="title" type="text" class="form-control" id="title">
	</div>
    
    <div class="thumb form-group">
   	  <label for="title">焦点图</label>
      <ul class="row list-unstyled">
      	<li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
        <li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
        <li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
        <li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
        <li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
        <li class="col-md-2">
          <img class="img-thumbnail" src="./public/cloud/images/image.png" width="100%" />
          <input name="thumb[]" type="file" accept="image/*" />
        </li>
      </ul>
	</div>
    
    <div class="mod">
    {include file="post/input" /}
    </div>
    
    <div class="form-group">
   	  <label for="description">摘要</label>
      <textarea id="description" name="description" class="form-control" rows="2"></textarea>
	</div>
    
    
    <div class="form-group">
   	  <label for="content">内容</label>
      {include file="../default/common/editor" name="content" value="" /}
	</div>
    
	
    
    <br />
	<input type="submit" class="btn btn-default" id="submit" value="提交">
	
    </form>
</div>

<script>

$(function(){
	//上传焦点图
	var obj = $(".thumb input");   //设置上传按钮的对象
	obj.change(function(e) {
		var imgobj = $(this).siblings("img");
		var objUrl = getObjectURL(this.files[0]);
		if(!objUrl){	//如果图片不存在
			objUrl = "./public/cloud/images/image.png";
		}
		imgobj.attr("src",objUrl);
    });
	//上传焦点图-end
	
	//检测提交按钮
	$("#submit").click(function(e) {
		//判断再有是否为空，否则写入摘要
		var description = $("#description").val();
		if(description.length <= 0){
			var str = editor.getContentTxt();
			
		  $("#description").val(editor.getContentTxt());
		}
		//摘要-end
		
		//检测标题是否为空
		var msg = '';
		var title = $("#title").val();
		if(title.length < 2){
			var msg = "标题不能为空";	
		}
		if(msg != ''){
			//e.preventDefault();
			alert(msg);
			return false;
		}	
		$("#add").submit();
	});
	//检测提交按钮
	
	
	
});

	
//建立一個可存取到該file的url
function getObjectURL(file) {
	var url = null ; 
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
</script>

{include file="common/footer" /}