<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[title] - by bbcms.luoe.cn</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="__Tpl__/css/luoe.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- 自定义css -->

<!--jq ui-->
	<link href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css" rel="stylesheet" media="screen">
	<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  </head>
  <body>
<header class="main">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" style="padding:3px 3px;" href="{:url('Admin/index/index')}"><img src="__Tpl__/images/logo.png" title="后台管理" height="100%"></a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        {php}$system_menu = config('menu');{/php}
		{foreach name="system_menu" item="val"}
        <li class="dropdown"> <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{$key} <span class="caret"></span></a>
        	<ul class="dropdown-menu" role="menu">
            	{foreach name="val" item="val2"}
                <li><a href="{:url($val2)}">{$key}</a></li>
                {/foreach}
            </ul>
        </li>
        
        {/foreach}
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他 <span class="caret"></span></a>
        	<ul class="dropdown-menu" role="menu">
                <li><a href="#">123</a></li>
            </ul>
        </li>
        
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" target="_blank">前台首页</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="{:url('Login/out')}">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
<div class="container-fluid">
<h1 class="page-header">[title]</h1>
</div>
</header>