<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[title] - by bbcms.luoe.cn</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="__Tpl__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__Tpl__/css/luoe.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="__Tpl__/js/bootstrap.js"></script>
    
  </head>
  <body>
<header class="main">
  
  <nav class="navbar navbar-dark bg-inverse">
 	<button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#nav_main"></button>
	<div class="collapse navbar-toggleable-xs" id="nav_main">
        <ul class="nav navbar-nav">
        {php}$system_menu = config('menu');{/php}
		{foreach name="system_menu" item="val"}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$key}</a>
        	<div class="dropdown-menu">
            	{foreach name="val" item="val2"}
                <a href="{:url($val2)}" class="dropdown-item">{$key}</a>
                {/foreach}
            </div>
        </li>
        {/foreach}
        <li class="nav-item"> <a href="#" class="nav-link">其他 <span class="caret"></span></a>
        	<ul class="dropdown-menu" role="menu">
                <li><a href="#">123</a></li>
            </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav pull-right" style="float:right;">
          <li class="nav-item">
            <a href="{:url('Login/out')}" class="nav-link">退出 </a>
          </li>
        </ul>
    </div>
  </nav>
  
  
  <div class="container-fluid" style="margin:10px 0;">
	<h1>[title]</h1>
  </div>
</header>