{include file="./header" title="首页" /}
<div class="container-fluid">
<div class="row">
	<div class="col-md-4">
		<div class="card">
		<div class="card-header"><i class="glyphicon glyphicon-list-alt"></i> 内容</div>
		<div class="card-block list-unstyled">
			<li>总    数: {$num.article.num}</li>
            <li>今日添加: {$num.article.today}</li>
		</div>
		</div>
    </div>
    
    <div class="col-md-4">
		<div class="card">
		<div class="card-header"><i class="glyphicon glyphicon-user"></i> 用户</div>
		<div class="card-block list-unstyled">
			<li>用户总数: {$num.user.num}</li>
            
		</div>
		</div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="card ">
<div class="card-header">系统配置</div>
<ul class="card-block list-unstyled">
	{foreach name="list" item="val"}
		<li class="row">
			<div class="col-md-2">{$key}</div>
    		<div class="col-md-10">{$val}</div>
		</li>
	{/foreach}

</ul>
</div>
</div>
{include file="./footer" /}