{include file="./header" title="添加栏目" /}
<div class="container-fluid">
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <div class="col-sm-4">
    <label for="name">模型名称</label>
    <input name="name" type="text" class="form-control" id="name" >
    </div>
    <!--
    <div class="col-sm-4">
    <label for="table">数据表名</label>
    <input name="table" type="text" class="form-control" id="table" >
    </div>
    -->
  </div>
  <input type="submit" class="btn btn-primary" value="提交" />
</form>

</div>
{include file="./footer" /}
