{include file="./header" title="设置栏目" /}
<div class="container-fluid">
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
  	<label for="name" class="col-sm-2 control-label">标　　题：</label>
    <div class="col-sm-10">
    	<input name="name" type="text" class="form-control" id="name" value="{$sql.name|default=''}" />
    </div>
  </div>
  
  <div class="form-group">
    <label for="jump" class="col-sm-2 control-label">跳转地址：</label>
    <div class="col-sm-10">
      <input name="jump" type="text" class="form-control" id="jump" value="{$sql.jump|default=''}" placeholder="如果该栏目用于跳转，此处填写完整url，否则为空">
    </div>
  </div>
  
  <div class="form-group">
  	<label for="mod" class="col-sm-2 control-label">模　　型：</label>
    <div class="col-sm-10">
    	<select name="mod" id="mod" class="form-control">
        <option value="0">普通文章</option>
    	{foreach name="type" item="type2"}
      	<option value="{$type2.id}" {$sql['mod']==$type2['id']?'selected':''} >{$type2.name|default=''}</option>
    	{/foreach}
        </select>
    </div>
  </div>
  
  <div class="form-group">
  	<label for="pid" class="col-sm-2 control-label">上级栏目：</label>
    <div class="col-sm-10">
    	<select name="pid" id="pid" class="form-control">
        <option value="0"  >顶级栏目</option>
        
        {foreach name="menu" item="menu"}
		{:dump($menu)}
        <option value="{$menu.tid}" {$sql['pid']==$menu['tid']?'selected':''} >{$menu.name|default=''}</option>
        
		{/foreach}
        </select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="template" class="col-sm-2 control-label">列表模板：</label>
    <div class="col-sm-10">
      <input name="template" type="text" class="form-control" id="template" value="{$sql.template|default='./portal/list'}"　placeholder＝"使用默认模版请留空">
    </div>
  </div>
  
  <div class="form-group">
    <label for="template2" class="col-sm-2 control-label">文章模板：</label>
    <div class="col-sm-10">
      <input name="template2" type="text" class="form-control" id="template2" value="{$sql.template2|default='./portal/article'}"　placeholder＝"使用默认模版请留空">
    </div>
  </div>
  
  <div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">关&nbsp;&nbsp;键&nbsp;&nbsp;字：</label>
    <div class="col-sm-10">
      <input name="keywords" type="text" class="form-control" id="keywords" value="{$sql.keywords|default=''}">
    </div>
  </div>
  
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">描　　述：</label>
    <div class="col-sm-10">
      <textarea name="description" rows="3" class="form-control" id="description">{$sql.description|default=''}</textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label for="weight" class="col-sm-2 control-label">权　　重：</label>
    <div class="col-sm-10">
      <input name="weight" type="text" class="form-control" id="weight" value="{$sql.weight|default='0'}">
    </div>
  </div>


  
    <input type="submit" class="btn btn-primary" value="提交" />
  
</form>

</div>

{include file="./footer" /}
