{include file="./header" title="网站模板" /}
<div class="container-fluid">
<div class="btn-group">
<a href="{:url('theme_add')}" class="btn btn-default icon-plus">添加</a>
</div><br />
<br />


	<table class="table table-striped table-hover">
		<thead>
        <tr>
          <th>缩略图</th>
          <th>名称</th>
          <th>介绍</th>
          <th>路径</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      
      {foreach name="list" item="val"}
        <tr>
          <th scope="row"><img src="./template/{$key}/theme.jpg" height="100"/></th>
          <td>{$val.name|default=""}<br/>版本：V{$val.version|default=""}</td>
          <td>{$val.description|default=""}<br/>版权所有：{$val.copyright|default=""}</td>
          <td>/template/{$val.dir}</td>
          <td>
            <a href="{:url('?dir='.$key)}" class="btn btn-primary">启用</a>
            <a href="{:url('theme_edit?dir='.$key)}" class="btn btn-default">编辑</a>
            <a href="{:url('theme_del?dir='.$key)}" class="btn btn-default">删除</a>
          </td>
        </tr>
        {/foreach}
      </tbody>
	</table>
</div>
{include file="./footer" /}