<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$title?$title:''}{$G_.webname} -by cms.luoe.cn</title>
    <meta name="keywords" content="{$keywords?$keywords:''}" />
    <meta name="description" content="{$description?$description:''}" />
	<link rel="stylesheet" href="__PUBLIC__/cloud/css/bootstrap.min.css">
    <link rel="stylesheet" href="__Tpl__/css/style.css">
	<script src="__PUBLIC__/cloud/script/jquery.min.js"></script>
	<script src="__PUBLIC__/cloud/script/bootstrap.min.js"></script>
    
<style type="text/css">
.header .top {
	border-bottom: 1px solid #CDCDCD;
	background: #F2F2F2;
}
</style>
  </head>
<body>
<div class="header">
	<div class="top">
		<div class="container">
            <div class="col-md-9">欢迎来到{$G_.webname}！</div>
            <div class="col-md-3" style="float:right;">
                <a href="javascript:;">设为首页</a>
                <a href="javascript:;">收藏本站</a>
                <a href="javascript:;"><i class="glyphicon glyphicon-phone"></i>手机版<span class="qr"><img src=""></span></a>
            </div>
		</div>
	</div>
    
    <div class="logo container">
    	<div class="logo_img">
        	<a href="/"><img src=""/></a>
        </div>
    </div>
    
    <nav class="navbar navbar-inverse">
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<ul class="nav navbar-nav">
            	
                <li class="active"><a href="/">首页 </a></li>
				 {bb:menu topid='0'}
                 <li class="dropdown  "><a href="{$ltag.url}">{$ltag.name}</a>
                	<!--
                	<ul class="dropdown-menu">
                	                	</ul>
                    -->
                </li>
                {/bb:menu}
                <!--
                <li class="dropdown"><a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司展示<i class="caret"></i></a>
                	<ul class="dropdown-menu">
                    	<li><a href="">最新展示</a></li>
                        <li><a href="">最新展示</a></li>
                        <li><a href="">最新展示</a></li>
                        <li><a href="">最新展示</a></li>
                    </ul>
                </li>
                -->
                
            </ul>
            <form action="/Portal-Search-index.html" method="get" enctype="multipart/form-data" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input name="q" type="text" class="form-control" id="q" placeholder="搜索内容">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
            </div>
        </nav>
</div>