<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[title]{$_G.system.webname}</title>
<meta name="keywords" content="[keywords]{$_G.system.keywords}" />
<meta name="description" content="[description]{$_G.system.description}" />
<link href="__Tpl__/style/luoecms.css" rel="stylesheet" media="screen" type="text/css" />

<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
.header h1 a {
	/*
	display:block;
	width:430px;
	height:100px;
	background:url({$_G.system.logo|default=" __ROOT__/Template/default/images/logo.png"}) no-repeat left center;
	text-indent:-9999px;
	*/
}

</style>
</head>
<body>

<div class="header_top">  
    <div class="w960 center">  
     <span id="time" class="time">{$_G.system.webname}</span>
     <!--<div class="toplinks"><a href="{dede:global.cfg_cmsurl/}/plus/heightsearch.php" target="_blank">高级搜索</a>|<a href="{dede:global.cfg_cmsurl/}/tags.php">Tag标签</a>|<a href="{dede:global.cfg_dataurl/}/rssmap.html" class="rss">Rss订阅</a>|<a href="{dede:global.cfg_cmsurl/}/sitemap.xml" target="_blank">Sitemap</a></div>
     -->
    </div>
</div>
<div class="header">
<h1><a href="/" title="{$_G.system.webname}"><img src="{$_G.system.logo|default=" __ROOT__/Template/default/images/logo.png"}" /></a></h1>
    <div class="search">
	  <form name="formsearch" action="{:url('Portal/Search/index')}">
           <input type="hidden" name="kwtype" value="0">
           <input name="q" type="text" class="search-keyword" id="search-keyword" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}" onblur="if(this.value==''){this.value='在这里搜索...';}">
          <button type="submit" class="search-submit">搜一下</button>
      </form>
       <div class="tags">
          <h4>随机标签:</h4>
          <ul>
          <!--
          {dede:tag row='4' getall='1' sort='rand'}
            <li><a href='[field:link/]'>[field:tag /]</a></li>
          {/dede:tag}
          -->
          </ul>
        </div>
	</div>
</div>
<div class="nav_bg">
  <ul class="nav">
      	<li><a href='/' {:!input('get.tid')&&!input('get.aid')?'class="hvoer"':''}>首页</a></li>
		{bb:menu topid="0"}
			<li><a {$bb['typeid']==input('tid')?'class="hvoer"':''} href="{$bb.url}">{$bb.name}</a>
            <ul>
				{bb:menu topid="$bb.tid"}
                	<li><a href="{$bb.url}">{$bb.name}</a></li>
				{/bb:menu}
                
            </ul>
      </li>
	{/bb:menu}
  </ul>
</div>