*{
	font-family: "Microsoft YaHei", "微软雅黑";
}
.main .page-header {
	margin-top: 0;
}
.pagination>li>.current {
z-index: 2;
color: #fff;
cursor: default;
background-color: #337ab7;
border-color: #337ab7;
}
.ui-datepicker-year{
	color: #000;
}

footer{
	margin-top: 10px;
	background-color: #CCC;
	text-align: center;
	height: 40px;
	padding: 5px;
}