@charset "utf-8";
/* CSS Document */
*{}
a:link {
	color: #333;
}
a:visited {
	color: #666;
}

a:hover {
}

header .top {
    line-height: 25px;
    border-bottom: 1px solid #CDCDCD;
    color: #676767;
    overflow: hidden;
    background: #F2F2F2;		
}

.jdt{overflow:hidden; position:relative; }
.jdt .hd{ height:15px; overflow:hidden; position:absolute; right:25px; bottom:5px; z-index:1; }
.jdt .hd{ overflow:hidden; zoom:1; float:left;  }
.jdt .hd li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.jdt .hd li.on{ background:#f00; color:#fff; }
.jdt .bd{ position:relative; height:100%; z-index:0;   }
.jdt .bd li{ zoom:1; vertical-align:middle; }
.jdt .bd img{ width:100%; display:block;  }

.index .t2 .panel-body{
	min-height:190px;
	
}

.article .content img{
	max-width:100%;
}


